# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# LaTeX build artifacts
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.bbl
*.blg

# OS
Thumbs.db
.DS_Store
